@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
body {
    background: #eee;
}
.wrapper {
    background: #fff;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    z-index: 0;
    margin-top: 56px;
}
.ball {
    font-family: 'Press Start 2P', cursive;
    background: salmon;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 25px;
    margin: 50px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    transition: 2s;
}
.ball span {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* Animation */
.ball:nth-child(1) {
    animation: scaleX 2s infinite;
}
.ball:nth-child(2) {
    animation: scaleY 2s infinite;
}
.ball:nth-child(3) {
    animation: scaleXY 2s infinite;
}


/* Keyframe */
@keyframes scaleX {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1.5);
    }
}
@keyframes scaleY {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1.5);
        transform-origin: top right;
    }
}
@keyframes scaleXY {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1.5);
        transform-origin: top right;
    }
}
